.navbar-main-container {
    width: 99.99%;
    background-color: rgba(255, 255, 255, 0.568);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
}

.nav-links {
    display: flex;
    gap: 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 1rem;
    color: #333;
    border: 1px solid #333;
    padding: 8px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-link:hover {
    background-color: #1c1c1c;
    color: #fff;
}

.auth-links {
    display: flex;
    gap: 10px;
}

.auth-link {
    text-decoration: none;
    font-size: 1rem;
    color: #fff;
    background-color: #007bff;
    padding: 8px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.auth-link:hover {
    background-color: #0056b3;
}

.navbar-main-container.scrolled {
    background-color: rgb(255, 255, 255); 
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3); 
    transition: background-color 0.3s ease, box-shadow 0.3s ease; 
}
