/* .popular-container {
    width: 99%;
    display: flex;
}

.cards-container {
    width: 99%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: auto;
}

.category-btn {

} */